

  {{#slick-carousel
  class="ember-carousel"
  autoplay=true
  autoplaySpeed=2000
  slidesToShow=1
  slidesToScroll=1
  dots=true
  fade=true

}}




  <div><img src="/assets/img/16.jpg" style="height:500px; width:100%;"></div>
  <div><img src="/assets/img/15.jpg" style="height:500px; width:100%;"></div>
    <div><img src="/assets/img/26.jpg" style="height:500px; width:100%;"></div>
{{/slick-carousel}}




  <hr>


<h1 class="font"> Customer Testimonials</h1>
<marquee  scrolldelay="90" direction="up">

<center class="font">
  <h3>Sarah Khan </h3>
  I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
    I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
      I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
        I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
      </center>
        <br>

        <center>
          <h3>John Doe </h3>
          I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
          I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
            I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
              I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
            </center>
                <br>


    </marquee>





<!-- {{#paper-content class="md-whiteframe-z1 grid-list-demo1" }}

    {{#paper-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="2:2"
    md-gutter="12px" md-gutter-gt-sm="8px"}}

      {{#paper-grid-tile class="gray" md-rowspan="3" md-colspan="2" md-colspan-sm="1"}}
            <img src="/assets/img/8.jpg" alt="" style="height:100%; width:100%;"/>
        {{#paper-grid-tile-footer}}
            <h1 style="color:black;"> <i>   Fresh from the garden</i></h1>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="green"}}
      <img src="/assets/img/side.jpg" alt="" style="height:100%; width:100%;"/>
        {{#paper-grid-tile-footer}}
          <h1 style="color:green;"> <i> Home</i></h1>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="yellow"}}
            <img src="/assets/img/back.jpg" alt="" style="height:100%; width:100%;"/>
        {{#paper-grid-tile-footer}}
          <h1 style="color:green;"> <i> Delivery</i></h1>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="blue" md-rowspan="2"}}
            <img src="/assets/img/1.jpg" alt="" style="height:100%; width:100%;"/>
        {{#paper-grid-tile-footer}}
            <h1 style="color:black;"> <i>Eggs</i></h1>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="red" md-rowspan="2" md-colspan="2" md-colspan-sm="1"}}



      <marquee  scrolldelay="90" direction="up">
      <h3>Sarah Khan </h3>
        I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
          I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
            I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
              I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
              <br>
              <h3>John Doe </h3>
                I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
                I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
                  I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
                    I would recommend shopping at grocery.com to anyone! Great quality and great personalities!!!"
                      <br>


          </marquee>


        {{#paper-grid-tile-footer}}
            <h1 style="color:green;"> <i>Customer Testimonials</i></h1>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="green" md-rowspan="2"}}
            <img src="/assets/img/2.jpg" alt="" style="height:100%; width:100%;"/>
        {{#paper-grid-tile-footer}}
          <h1 style="color:green;"> <i>Cereals</i></h1>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

    {{/paper-grid-list}}

  {{/paper-content}} -->
